@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.topsection {
    height: 100vh;
    background-color: #1F0322;
    box-shadow: 10px 8px 20px 5px;
    display: flex;
    align-items: center;
    background-image: url(/public/images/charlotte-noelle-98WPMlTl5xo-unsplash\ \(2\).jpg);
    background-size: cover;
    background-position: center;
}


.adminheader {
    color: black
}

.homepageheader {
    color: white;
    font-size: 5rem;
    width: 90%;
    text-align: center;
    font-family: 'Quicksand',
        sans-serif;;
    padding-bottom: 30px;
}

.highlightedText {
    font-family: 'Quicksand',
            sans-serif;
        ;
}

.welcomemessage {
    align-self: flex-start;
}

.getstartedtext {
    width: 90%;
    justify-content: flex-start;
    flex-direction: column;
}

.topsectionoverlay {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.719);
    /* background-image: linear-gradient(#000000, #1f032210); */
    padding-left: 50px;
    padding-right: 50px;

}



/* .getStarted {
    border: 1px solid white;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
} */

.bottomsection {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: white;
}



.infocardsbox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
}

.firstcard {
    display: flex;
    width: 50vw;
    height: 30vh;
    justify-self: center;
}

.thirdcard {
display: flex;
width: 100%;
height: 100%;
transition: ease all 0.5s;
}

.plancard {
    width: 500px;
    height: 200px;
}


.travelheaderanimate {
    animation: fadeIn 2s;
    font-size: 3rem;
    font-family: 'Quicksand',
            sans-serif;
}

.travelheader {
    visibility: hidden;
    font-family: 'Quicksand',
            sans-serif;
}

.travelquoteanimate {
    animation: fadeIn 2s;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
}

.travelquote{
    visibility: hidden;
}

.sharequoteanimate {
    animation: fadeIn 2s;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
    font-family: 'Quicksand',
            sans-serif;
        ;
    width: 350px;
}

.sharequote{
    visibility: hidden;
    font-family: 'Quicksand',
            sans-serif;
        ;
}

.planquoteanimate {
    padding-top: 50px;
    animation: fadeIn 2s;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
    font-size: 1.25rem;
    font-family: 'Quicksand',
            sans-serif;
}

.planquote{
    padding-top: 50px;
    visibility: hidden;
}



.planheaderanimate {
    animation: fadeIn 2s;
}

.planheader {
    visibility: hidden;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

.photo {
    background-image: url(/public/images/that-s-her-business-R4sP8_Bq0Bw-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30vw;
    height: 30vh;
    animation: fadeIn 3s;
}

.photo {
    background-image: url(/public/images/element5-digital-uE2T1tCFsn8-unsplash\ \(1\).jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30vw;
    height: 30vh;
    animation: fadeIn 3s;
}

.card {
    display: flex;
        width: 100%;
        height: 100%;
}

.firstcontainer {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 35vh;
    justify-self: center;
    background-color: #170033;
}

.secondcontainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 35vh;
    justify-self: center;
    background-color: #170033;
}

.thirdcontainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 35vh;
    justify-self: center;
    background-color: #170033;
}

.firstcardlogo {
    background-image: url(/public/images/travelbuddylogowithtext.svg);
    width: 350px;
    height: 350px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
}
.getstartedbutton {
    justify-content: flex-end;
}

.homepagecard {
    width:50vw;
    height: 100%;
}

.logocontainer {
width: 50vw;
}

/* styling for bottom section of  */
.quotebox {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
}

.sharequotebox {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.25rem;
}