

.communitycard {
    height: 40vh;
}

.carouselpic1 {
    background-image: url(/public/images/ian-schneider-jk8rarn6lmw-unsplash.jpg);
    background-position: center;
    background-size: contain;
}

.searchbars {
    display: flex;
    flex-direction: row; 
    width: 100%;
}

.reviewscontainer {
    height: 65vh;
    display: flex;
    flex-direction: column;
}

.commmunitybackground {
    height: 90vh;
    background-image: url(/public/images/duy-pham-Cecb0_8Hx-o-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.backgroundoverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.communityheader  {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.headerimagecard {
    width: 30vw;
}