@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');




.headertext {
    font-family: 'Quicksand',
        sans-serif;
}

.reviewheader {
    font-family: 'Quicksand',
            sans-serif;
            color: black;
    padding-top: 30px;
    padding-bottom: 15px;
}

.searchbars {
    display: flex;
    flex-direction: row;
    justify-self: center;
    width: 100%;
}

.reviewscontainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.commmunitybackground {
    height: 100vh;
    background-image: url(/public/images/natalie-pedigo-wJK9eTiEZHY-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.backgroundoverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    gap: 380px;
}

.communityheader  {
display: flex;
width: 100%;
flex-direction: row;
justify-content: space-evenly;
align-self: center;
}

.headerimagecard {
    width: 40vw;
    height: 27vh;
    align-self: center;
    
}

.individualreview {
    height: 20vh;
}

.reportcard {
    height: 60vh;
    width: 60vw;
}

.reviewheader {
    display: flex;
    flex-direction: row;
}

.userlistcontainer {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.usercard {
    
}