@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

h2 {
    text-align: center;
    color: white
}

.accessCode {
    text-align: center;
    color: white
}

.departuredate {
    color: white
}

.returndate {
    color: white
}

.deletetrip {
    width: 200px;
}

.schedulelist {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-top: 40px;
}

.full-trip-view {
    display: flex;
    flex-direction: column;
}

.scheduleitem {
    border: 1px solid black;
    padding: 5px;
    width: 20vw;
    border-radius: 10px;
    height: 20vh;
    transition: ease all 0.25s;
}

.scheduleitem:hover {
    transform: scale(1.05);
}

.headereditlink {
    width: 200px;
}


.transportationinfo {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 60px;
}

.flightinfo {
    box-sizing: border-box;
    padding: 10px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rentalinfo {
    box-sizing: border-box;
    padding: 10px;
    width: 30vw;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.scheduletitle {
font-family: 'Quicksand',
    sans-serif;
    padding-bottom: 20px;
}

.titlesection {
    width: 100%;
}

.schedulecontainer {
    width: 100%;
}

.schedulelist {
    display: flex;
    justify-content: center;
}
.scheduleandactivities {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 825px;
}

.timelineitem {
    width: 60vw;
}

.activitiescontainer {
width: 30vw;
display: flex;
justify-content: center;
}

.activityform {
    width: 300px;
}

.itinerarydestinationheader {
    padding-bottom: 20px;
    font-size: 4rem;
}

.Nashvilletripheader {
    background-image: url(/public/images/NashvilleDetailspic.jpg);
    height: 68vh;
        background-size: cover;
        background-position: center;
}
.Miamitripheader {
    background-image: url(/public/images/Miamipicdetailedpage.jpg);
    height: 68vh;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.Chicagotripheader {
    background-image: url(/public/images/Chicagopicdetailedpage.jpg);
    height: 68vh;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.Washingtontripheader {
    background-image: url(/public/images/DCdetailspic.jpg);
    height: 68vh;
        background-size: cover;
        background-position: center;
}

.Bostontripheader {
    background-image: url(/public/images/bostontripheader.jpg);
    height: 68vh;
        background-size: cover;
        background-position: center;
}

.Bostontripheader {
    background-image: url(/public/images/bostontripheader.jpg);
    height: 68vh;
        background-size: cover;
        background-position: center;
}

.headeroverlay {
    height: 68vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addactivityform {
    padding-bottom: 20px;
}
