@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@media (min-width: 1025px) and (max-width: 1200px) {
    .upcomingtrip_itineraryCard {
            width: 50vw;
            height: 52vh;
            transition: ease all 300ms;
        }

    .upcomingtrip_itineraryCard {
            width: 50vw;
            height: 52%;
            transition: ease all 300ms;
        }
}
@media (min-width: 1201px) and (max-width: 1600px){
    .upcomingtrip_itineraryCard {
            width: 50vw;
            height: 52vh;
            transition: ease all 300ms;
        }

    .upcomingtrip_itineraryCard {
            width: 50vw;
            height: 52vh;
            transition: ease all 300ms;
        }
}

@media (min-width: 675px) and (max-width: 863px) {

    .upcomingtrip_itineraryCard {
            width: 62vw;
            height: 45vh;
            transition: ease all 300ms;
        }

    .completedtrip_itineraryCard {
                    width: 62vw;
                    height: 45vh;
                    transition: ease all 300ms;
                }

    .currenttrip_itineraryCard {
            width: 50vw;
            height: 45vh;
            transition: ease all 300ms;
        }
}
/* Iphone media query */
@media (max-width: 450px) {

    .upcomingtrip_itineraryCard {
            width: 85vw;
            height: 52vh;
            transition: ease all 300ms;
        }

    .currenttrip_itinerarycard {
        width: 80vw;
        height: 78vh;
        transition: ease all 300ms;
    }

        .completedtrip_itineraryCard {
            width: 80vw;
            height: 52vh;
            transition: ease all 300ms;
        }
}




body {
    background-color: #EDE7F6;
    padding-top: 75px;
}

.tripsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60vh;
}

.citybadge {
    display: flex;
    flex-direction: row;
}

.upcomingtrips {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    height: 80vh;
    overflow-y: auto;
    padding-top: 15px;
}

.currenttripcontainer {
    display: flex;
    justify-content: center;
}

.allcompletedtrips {
    display: flex;
    flex-direction: row;
    height: 50vh;
}

/* .itinerary {
    border: 1px solid black;
    padding: 5px;
    width: 20vw;
    border-radius: 10px;
    height: 30vh;
    transition: ease all 0.25s;
} */
/* CSS styling for the overlay on each itinerary card */
/* .itineraryoverlay {
    background-color: rgba(0, 0, 0, 0.421);
    height: 100%;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
} */


.buttonsandlinks {
    display: flex;
    width: 100%;
}


/* Css Styling for current, upcoming and completed itinerary cards */
/* .itineraryCard {
    width: 30vw;
    height: 54vh;
    transition: ease all 300ms;
} */

.itineraryCard:hover {
    transform: translateY(-2%);
    transition: ease 300ms;
}

/* .currenttrip_itinerarycard {
    width: 49vw;
    height: 80vh;
    transition: ease all 300ms;
} */

.currenttrip_itinerarycard:hover {
    transform: translateY(-2%);
        transition: ease 300ms;
}

@keyframes slideUp {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-2%);
    }
}




/* CSS Styling for the city name on each itinerary card */
.traveldestination {
    color: white
}

.fulltripview {
    color: white;
    text-decoration: none;
    text-align: center;
}

.tripdates {
    display: flex;
    justify-content: space-evenly;
}

.carddepature {
    color: black;
    background-color: white;
    width: fit-content;
    padding: 2px;
    border-radius: 10px;
    font-size: 0.8rem
}

.cardreturn {
    color: black;
        background-color: white;
        width: fit-content;
        padding: 2px;
        border-radius: 10px;
        font-size: 0.8rem
}

.mytripsheader {
    color: black;
    font-family: 'Quicksand',
        sans-serif;;
}



.timelineheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



