@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background-color: #EDE7F6;
    padding-top: 75px;
}

.tripsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60vh;
}

.citybadge {
    display: flex;
    flex-direction: row;
}

.upcomingtrips {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    height: 80vh;
    overflow-y: auto;
}

.currenttripcontainer {
    display: flex;
    justify-content: center;
}

.allcompletedtrips {
    display: flex;
    flex-direction: row;
    height: 50vh;
}

.itinerary {
    border: 1px solid black;
    padding: 5px;
    width: 40vw;
    border-radius: 10px;
    height: 30vh;
    transition: ease all 0.25s;
}
/* CSS styling for the overlay on each itinerary card */
.itineraryoverlay {
    background-color: rgba(0, 0, 0, 0.421);
    height: 100%;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
}


.buttonsandlinks {
    display: flex;
    width: 100%;
}

.itinerary:hover {
    transform: scale(1.05);
}

.itineraryCard {
    width: 30vw;
    height: 54vh;
}

.currentitinerarycard {
    width: 49vw;
    height: 80vh;
}

.itineraryCard:hover {
    animation-name: slideUp;
}


/* CSS Styling for the city name on each itinerary card */
.traveldestination {
    color: white
}

.fulltripview {
    color: white;
    text-decoration: none;
    text-align: center;
}

.tripdates {
    display: flex;
    justify-content: space-evenly;
}

.carddepature {
    color: black;
    background-color: white;
    width: fit-content;
    padding: 2px;
    border-radius: 10px;
    font-size: 0.8rem
}

.cardreturn {
    color: black;
        background-color: white;
        width: fit-content;
        padding: 2px;
        border-radius: 10px;
        font-size: 0.8rem
}

.mytripsheader {
    color: black;
    font-family: 'Quicksand',
        sans-serif;;
}

@keyframes slideUp {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-2%);
    }
}

.timelineheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



