
.navbar {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 7px;
}

.logoandnavtextcontainer {
    flex-grow: 3;
    display: flex;
    flex-direction: row;
}

.navtext {
    color: white;
    font-size: 2rem;
}

.navbuttoncontainer {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.travelbuddylogo {
    background-image: url(/public/images/travelbuddynavlogo.svg);
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
}

/* CSS styles for the  */
.nav_link {
    border: 1px solid #1F0322;
    border-radius: 15px; 
    padding: 5px;
    background-color: #1F0322;
    transition: ease all 0.25s;
}

/* .nav_link:hover {
    background-color: #9c92b6;
} */


/* CSS styles for the actual links. */
/* .nav_link a {
    text-decoration: none;
    color: white
} */

/* .nav_link a:hover {
    color: white
} */

/* CSS styles for the Logout button*/
/* .nav_logout {
    border: 1px solid #1F0322;
    border-radius: 15px;
    padding: 5px;
} */

/* CSS styles for the logout link. */
/* .nav_logout a {
    text-decoration: none;
} */


