

.header {
    font-size: 2.5rem;
    color: black;
}

.loginlogo {
    background-image: url(/public/images/travelbuddylogowithtext-purple.svg);
    height: 50vh;
    width: 30vw;
    background-position: center;
    background-size: cover;
}



fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}




.container--login {
    text-align: center;
}

.form--login {
    background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    background-color: hsla(0, 0%, 100%, 0.40);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.loginbutton {
    cursor: pointer;
}


.button--close {
    position: relative;
    bottom: -2rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

.logincard {
    justify-self: center;
    width: 33vw;
}

.loginscreen {
    display: flex;
    flex-direction: row;
}

.logincontainerright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
}

.emaillogin {
}

.logincontainerleft {
    width: 60vw;
    height: 100;
    background-image: url(/public/images/tom-barrett-M0AWNxnLaMw-unsplash.jpg);
    background-size: cover;
    margin:-75px;
}



.submitbutton {
    background-color: #5e17eb;
    border: 0.25px;
    color: white;
    padding: 10px;
    width: 30%;
    border-radius: 5px;
}


.registercontainer {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}